/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête de la page */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styles pour le titre principal de la page */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles pour les messages de confirmation et d'erreur */
p {
    margin: 10px 0;
}

p[style*="color: green"] {
    color: green;
}

p[style*="color: red"] {
    color: red;
}

/* Styles pour le formulaire d'achat */
form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
}

button[type="submit"] {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px;
}

button[type="submit"]:hover {
    background-color: #444;
    cursor: pointer;
}

/* Styles pour la liste de produits similaires */
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.listeproduitimg{
    width: 100px;
    height: 100px;
}